<header class="main-header">
  <nav id="principal-nav" class="navbar">
    <a routerLink="/" class="logo-container">
      <img
        src="img/logos/flow_sense.png"
        alt="Logo Flow Sense"
        class="logo-img"
      />
      <span id="nav-text">Flow Sense</span>
    </a>

    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/historico">Histórico de Uso</a></li>
      <li><a routerLink="/quem-somos">Quem Somos</a></li>
      <li><a routerLink="/login" class="login_botao">Login/Cadastrar</a></li>
    </ul>
  </nav>
</header>